@import "global";
@import "search";
@import "bcgStyle";

header {
  background: rgba(81, 104, 104, 0.811); //animation rang aylanadigan qilish kerak
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;

    h2 {
      font-size: 36px;
      color: white;
    }

    .input-container {
      position: fixed;
      top: 75px;
      left: 20px;
    }
  }

  .right {
    display: flex;
    gap: 15px;
    align-items: center;

    #sortByIsMarried,
    #sortByLastName,
    .adding {
      //hover box-shadow style berish kerak
      padding: 5px 7px;
      border: 1px solid aqua;
      background: rgba(37, 145, 145, 0.276);
      color: white;
      outline: none;
      border-radius: 3px;
      font-size: 18px;
      cursor: pointer;
      text-align: center;
      transition: 0.3s;
    }
  }

  @media(max-width:630px) {
    .container {
      justify-content: center;
    }

    .input-container{
      top: 110px !important;
    }
  }

}





// .teacherModal-modal {
//   transform: translateY(100%);
// }

main {
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media(max-width:810px) {
      .card {
        width: 60% !important;
      }
    }

    @media(max-width:650px) {
      padding-top: 150px;

      .card {
        width: 70% !important;
      }
    }

    @media(max-width:550px) {
      .card {
        width: 85% !important;
      }
    }

    @media(max-width:450px) {
      .card {
        width: 100% !important;
      }
    }

    justify-content: center;
    row-gap: 20px;
    padding: 120px 0px 40px;

    .card {
      width: 320px;
      // height: 450px;
      border-radius: 8px;
      padding: 0px 0px 10px;
      color: white;
      overflow: hidden;
      position: relative;
      transform-style: preserve-3d;
      perspective: 1000px;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      cursor: pointer;
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.15);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.17);

      &:nth-child(3) {
        display: none;
      }

    }

    .card-content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: white;
      height: 100%;

      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 5px;
        z-index: 1;
      }
    }

    .card-content .card-title {
      font-size: 28px;
      font-weight: 700;
      color: inherit;
      text-transform: uppercase;
      text-align: center;
    }

    .card-content .card-para {
      padding: 2px 20px;
      width: 100%;
      display: flex;
      gap: 10px;
      color: inherit;
      font-size: 16px;
    }

    .card:hover {
      transform: scale(1.02);
      box-shadow: 1 10px 20px rgba(0, 0, 0, 0.249);
    }

    .card:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      z-index: 1;
    }

    .card:hover:before {
      transform: translateX(-100%);
    }

    .card:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      z-index: 1;
    }

    .card:hover:after {
      transform: translateX(100%);
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 15px;

    button,
    .teacherStudents {
      padding: 8px 13px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      transition: .3s;
      background: linear-gradient(120deg, rgb(212, 0, 255), rgb(0, 115, 255), rgb(0, 140, 65));
      color: white;

      &:nth-child(1):hover {
        background: rgb(0, 98, 255);
      }

      &:nth-child(2):hover {
        background: rgb(3, 203, 113);
      }

      &:nth-child(3):hover {
        background: red;
      }
    }
  }
}

.pagination {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  gap: 5px;

  .page-link {
    padding: 5px 10px;
    border: none;
    background: rgba(0, 170, 255, 0.475);
    font-size: 16px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
  }
}

.Active {
  background: blue;
}

.disabled {
  background: blue !important;
  opacity: 0.4;
}

@import "modal";